<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AddAccountControl</servlet-name>
        <servlet-class>control.AddAccountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAmountCartControl</servlet-name>
        <servlet-class>control.AddAmountCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartControl</servlet-name>
        <servlet-class>control.AddCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddControl</servlet-name>
        <servlet-class>control.AddControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReviewControl</servlet-name>
        <servlet-class>control.AddReviewControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSupplierControl</servlet-name>
        <servlet-class>control.AddSupplierControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryControl</servlet-name>
        <servlet-class>control.CategoryControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatrgoryShopControl</servlet-name>
        <servlet-class>control.CategoryShopControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountControl</servlet-name>
        <servlet-class>control.DeleteAccountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartControl</servlet-name>
        <servlet-class>control.DeleteCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteControl</servlet-name>
        <servlet-class>control.DeleteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSupplierControl</servlet-name>
        <servlet-class>control.DeleteSupplierControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailControl</servlet-name>
        <servlet-class>control.DetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoanhThuTheoThangControl</servlet-name>
        <servlet-class>control.DoanhThuTheoThangControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoanhThuTheoThuControl</servlet-name>
        <servlet-class>control.DoanhThuTheoThuControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditControl</servlet-name>
        <servlet-class>control.EditControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileControl</servlet-name>
        <servlet-class>control.EditProfileControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HoaDonControl</servlet-name>
        <servlet-class>control.HoaDonControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>control.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAmountCartControl</servlet-name>
        <servlet-class>control.LoadAmountCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadControl</servlet-name>
        <servlet-class>control.LoadControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreAdidasControl</servlet-name>
        <servlet-class>control.LoadMoreAdidasControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreControl</servlet-name>
        <servlet-class>control.LoadMoreControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreNikeControl</servlet-name>
        <servlet-class>control.LoadMoreNikeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutControl</servlet-name>
        <servlet-class>control.LogOutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>control.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAccountControl</servlet-name>
        <servlet-class>control.ManagerAccountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerCartControl</servlet-name>
        <servlet-class>control.ManagerCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerControl</servlet-name>
        <servlet-class>control.ManagerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerSupplierControl</servlet-name>
        <servlet-class>control.ManagerSupplierControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderControl</servlet-name>
        <servlet-class>control.OrderControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAjaxColorBlackControl</servlet-name>
        <servlet-class>control.SearchAjaxColorBlackControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAjaxColorGrayControl</servlet-name>
        <servlet-class>control.SearchAjaxColorGrayControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAjaxColorWhiteControl</servlet-name>
        <servlet-class>control.SearchAjaxColorWhiteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAjaxColorYellowControl</servlet-name>
        <servlet-class>control.SearchAjaxColorYellowControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAjaxPrice100To200ShopControl</servlet-name>
        <servlet-class>control.SearchAjaxPrice100To200ShopControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAjaxPriceAbove200ShopControl</servlet-name>
        <servlet-class>control.SearchAjaxPriceAbove200ShopControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAjaxPriceMinToMaxShopControl</servlet-name>
        <servlet-class>control.SearchAjaxPriceMinToMaxShopControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAjaxPriceUnder100ShopControl</servlet-name>
        <servlet-class>control.SearchAjaxPriceUnder100ShopControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByAjax</servlet-name>
        <servlet-class>control.SearchByAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByAjaxHoaDon</servlet-name>
        <servlet-class>control.SearchByAjaxHoaDon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByAjaxShop</servlet-name>
        <servlet-class>control.SearchByAjaxShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControl</servlet-name>
        <servlet-class>control.SearchControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopControl</servlet-name>
        <servlet-class>control.ShopControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpControl</servlet-name>
        <servlet-class>control.SignUpControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticControl</servlet-name>
        <servlet-class>control.StatisticControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubAmountCartControl</servlet-name>
        <servlet-class>control.SubAmountCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Top10SanPhamControl</servlet-name>
        <servlet-class>control.Top10SanPhamControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Top5KhachHangControl</servlet-name>
        <servlet-class>control.Top5KhachHangControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Top5NhanVienControl</servlet-name>
        <servlet-class>control.Top5NhanVienControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TotalMoneyCartControl</servlet-name>
        <servlet-class>control.TotalMoneyCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XuatExcelTop10ProductControl</servlet-name>
        <servlet-class>control.XuatExcelTop10ProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XuatExcelAccountControl</servlet-name>
        <servlet-class>control.XuatExcelAccountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XuatExcelControl</servlet-name>
        <servlet-class>control.XuatExcelControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XuatExcelProductControl</servlet-name>
        <servlet-class>control.XuatExcelProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XuatExcelSupplierControl</servlet-name>
        <servlet-class>control.XuatExcelSupplierControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XuatExcelTop5CustomerControl</servlet-name>
        <servlet-class>control.XuatExcelTop5CustomerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XuatExcelTop5EmployeeControl</servlet-name>
        <servlet-class>control.XuatExcelTop5EmployeeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassWord</servlet-name>
        <servlet-class>control.ChangePassWord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordControl</servlet-name>
        <servlet-class>control.ForgotPasswordControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>XuatExcelTop10ProductControl</servlet-name>
        <url-pattern>/XuatExcelTop10ProductControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XuatExcelAccountControl</servlet-name>
        <url-pattern>/XuatExcelAccountControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XuatExcelControl</servlet-name>
        <url-pattern>/XuatExcelControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XuatExcelProductControl</servlet-name>
        <url-pattern>/XuatExcelProductControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XuatExcelSupplierControl</servlet-name>
        <url-pattern>/XuatExcelSupplierControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XuatExcelTop5CustomerControl</servlet-name>
        <url-pattern>/XuatExcelTop5CustomerControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XuatExcelTop5EmployeeControl</servlet-name>
        <url-pattern>/XuatExcelTop5EmployeeControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassWord</servlet-name>
        <url-pattern>/ChangePassWord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordControl</servlet-name>
        <url-pattern>/ForgotPasswordControl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
